* {
    margin: 0;
    padding: 0;
}

.centrar {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50%;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.row {
    grid-row: 1/3;
}

.resultado {
    grid-row: 1/3;
}